name: ReARM Workflow

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  sign-with-rearm:
    name: ReARM - Generate, Sign & Send
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - id: setup-rearm
        name: setup-rearm
        uses: relizaio/rearm-actions/setup-cli@main
        
      - name: Display rearm version
        shell: bash
        run: rearm version
        
      - id: init
        name: Initialize ReARM Flow
        uses: relizaio/rearm-actions/initialize@main
        with: 
          rearm_api_id: ${{ secrets.REARM_COMPONENT_API_ID }}
          rearm_api_key: ${{ secrets.REARM_COMPONENT_API_KEY }}
          rearm_api_url: ${{ vars.REARM_API_URL }}
          component: ${{ vars.REARM_COMPONENT_ID }}

      - name: Generate and sign SBOMs
        id: sbom
        uses: relizaio/rearm-actions/sbom-sign-scan@main
        with:
          rearm_short_version: ${{ steps.init.outputs.short_version }}
          rearm_full_version: ${{ steps.init.outputs.full_version }}
          enable_sbom: true
          deliverable_type: FILE
          source_code_sbom_type: other
          enable_securesbom: true
          securesbom_host: ${{ vars.SECURE_SBOM_API_URL }}
          securesbom_pub_key_id: ${{ secrets.SECURE_SBOM_KEYID }}
          securesbom_api_key: ${{ secrets.SECURE_SBOM_API_KEY }}

      - name: Submit metadata to ReARM and Finalize
        uses: relizaio/rearm-actions/finalize@main
        with:
          rearm_api_id: ${{ secrets.REARM_COMPONENT_API_ID }}
          rearm_api_key: ${{ secrets.REARM_COMPONENT_API_KEY }}
          rearm_api_url: ${{ vars.REARM_API_URL }}
          component: ${{ vars.REARM_COMPONENT_ID }}
          rearm_build_start: ${{ steps.init.outputs.build_start }}
          rearm_short_version: ${{ steps.init.outputs.short_version }}
          rearm_full_version: ${{ steps.init.outputs.full_version }}
          rearm_build_lifecycle: 'DRAFT'
          deliverable_type: 'FILE'
          commit_list: ${{ steps.init.outputs.commit_list }}
          sce_commit: ${{ steps.init.outputs.sce_commit }}
          sce_commit_message: ${{ steps.init.outputs.sce_commit_message }}
          sce_commit_date: ${{ steps.init.outputs.sce_commit_date }}
          sce_vcs_uri: ${{ steps.init.outputs.sce_vcs_uri }}
          scearts: ${{ steps.sbom.outputs.scearts }}
